/* css mac dinh */
/* reset css: tự quản lí code tốt hơn */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", serif;
}

/* Công thức tính chiều dài và chiều cao
    box-sizing: border-box;
    Chiều dài: 
    Width = nội dung bên trong + padding-left + padding-right+boder-left+ border-right;

*/
.container {
    max-width: 1440px; 
    margin: 0 auto;
}

header {
    background-color: black  ;
}

header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: white;
    text-decoration: none;
}

header nav a:hover {
    color: #E62B4A;
}

header nav .active a{
    color:  #E62B4A;
}
.header-content li{
    display: inline-block;
    margin-right: 20px;
    font-size: 17px;
    text-transform: uppercase;
}


.header-content-logo{
    font-size: 32px;
    font-weight: bold;
}

/* Hero banner */
.hero-banner{
    height: 70vh;
    background-image: url(./../img/home_slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-banner button{
    border: none;
    padding: 10px 30px;
    background-color: #E62B4A;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    /* Thoi gian thay doi sau khi hover */
    transition: background-color 0.5s;
}

.hero-banner .sub-title {
    font-size: 25px;
}

.hero-banner h1 {
    font-size: 75px;
    line-height: 83px;
    margin-bottom: 15px;
}

/* khi hover vào vùng này thì đổi màu */
.hero-banner button:hover {
    background-color: #B0213A;
}

/* đây là demo position */
.demo_position{
    background-color: black;
    height: 100vh;
    position: relative;
}

.demo1{
    background-color: red;
    width: 150px;
    height: 150px;
    /* Sẽ nằm lên trên */
    position: absolute;

    /* Z-index phải có positon */
    z-index: 2;

    /* top, bottom, left, right */
    /* left: -50px; */
    /* right: -50px; */
    /* top: 50px; */
    /* bottom: 50px; */

    /* phải có một thẻ cha relative
        thẻ con bên trong absolute
    */
    right: 0;
    top: 0   ;

}

/* Transform dùng để di chuyển, rotate , scale */
.demo2{
    width: 200px;
    height: 200px;
    background-color: blue;
    transform: rotate(45deg);
}